
.MainBox {
    margin-left: 35vw ;
    padding-left: 1vw;
    padding-bottom: 1vw;
    width: 35vw;
    height: 80vh;
    /* background-color: antiquewhite; */
    border: 1px solid black;
    border-top-style: hidden;
}
hr {
    width: 97%;
}

#title{
    width: 34vw;
    height: 40px;
    font-size: larger;
    border: 0px;
    font-weight: bolder;
}

.content {
    height: 62vh;
    padding: 2vh 0;
    margin-right: 1vw;
}

#note_content {
    padding: 12px;
    font-size: larger;
}

.tools ul {
    display: flex;
    list-style-type: none;
}

.tools ul li {
    padding: 2px 25px;
    cursor: pointer;
}
.tools ul li :hover {

    background: rgb(230, 224, 224);
    cursor: pointer;
}
#BoldBtn {
    font-size: medium;
    font-weight: bold;
}

#ItalicBtn {
    font-size: medium;
    font-style: italic;
}

#ItalicBtn {
    font-size: medium;
    font-style: italic;
}

#UnderlineBtn {
    font-size: medium;
}
#StrikeBtn {
    font-size: medium;
    
}

#BulletBtn {
    font-size: medium;
    font-weight: bolder;
}

#imgBtn {
    font-size: medium;

}
